





.container {
   margin-left: auto;
   margin-right: auto;
   max-width:75%; 
   min-width: 75%;
   
}


#bcwhite {
    position: absolute;
    width: 75%;
    margin-top: 7%;
}        

#thebird { 
    
    position: absolute;
    top: 0%;
    right: 45%;
    width: 14%;

    }

#perncern { 
    
    position: absolute;
    top: 32%;
    left: 25%;
    width: 7%;

    }


#grey {
    position: absolute;
    width: 45%;
    height: 35%;
    margin-top: 10%;
    left: 28%;
}

#grey1 {
    position: absolute;
    width: 45%;
    height: 20.5%;
    margin-top: 30%;
    left: 28%; 
}   

#grey2 {
position: absolute;
width: 45%;
height: 22.1%;
margin-top: 10%;
left: 28%;    
}

#grey3 {
position: absolute;
width: 45%;
height: 15%;
margin-top: 25%;
left: 28%;    
}

#grey4 {
position: absolute;
width: 45%;
height: 15%;
margin-top: 36%;
left: 28%;    
}

#galaxy {
  position: absolute;
  width: 17%;
  margin-top: 10%;
  left: 28%;
  
  }

  #Careful {
  position: absolute;
  width: 17%;
  margin-top: 10%;
  left: 28%;
  }

  #sheeerk {
  position: absolute;
  width: 10.3%;
  margin-top: 25%;
  left: 28%;
  }

  #cuute {
  position: absolute;
  width: 11%;
  margin-top: 36%;
  left: 28%;
  }


#thing1 {
  position: absolute;
  margin-top: 10%;
  right: 28%;
  font-size: 20px;
  color: yellow;
  font-family: Veranda;
  }

#thing2 {
  position: absolute;
  margin-top: 30%;
  right: 27%;
  font-size: 20px;
  color: yellow;
  font-family: Veranda;
  }

  #thing3 {
  position: absolute;
  margin-top: 25%;
  right: 40%;
  font-size: 50px;
  color: yellow;
  font-family: Veranda;
  }

  #thing4 {
  position: absolute;
  margin-top: 36%;
  right: 36%;
  font-size: 20px;
  color: yellow;
  font-family: Veranda;
  }

  #thing5 {
  position: absolute;
  margin-top: 22%;
  left: 28%;
  font-size: 15px;
  color: black;
  font-family: Veranda;
  }

  #thing6 {
  position: absolute;
  margin-top: 22%;
  right: 28%;
  font-size: 15px;
  color: black;
  font-family: Veranda;
  }

  #thing7 {
  position: absolute;
  margin-top: 38%;
  left: 28%;
  font-size: 12px;
  color: black;
  font-family: Veranda;
  }

  #thing8 {
  position: absolute;
  margin-top: 38%;
  right: 25%;
  font-size: 12px;
  color: black;
  font-family: Veranda;
  }

#thing9 {
  position: absolute;
  margin-top: 10%;
  left: 25%;
  font-size: 12px;
  border-style: solid;
  border-width: 5px;
  border-color: deeppink;
  color: black;
  font-family: Veranda;
  }

  #thing10 {
  position: absolute;
  margin-top: 20%;
  left: 25%;
  font-size: 12px;
  color: black;
  font-family: Veranda;
  }

  
  #thing11 {
  position: absolute;
  margin-top: 15.1%;
  left: 32%;
  font-size: 11px;
  border-style: solid;
  border-width: 2px;
  border-color: deeppink;
  fill: grey;
  color: black;
  font-family: Veranda;
  }

#plane {
    position: absolute;
    width: 10%;
    left: 28%;
    margin-top: 30%;
}    

#b111 {
  position: absolute;
  width: 13%;
  margin-top: 10%;
  left: 28%;
  }

  #geo {
  position: absolute;
  width: 13%;
  margin-top: 10%;
  right: 28%;
  }
    
#jordans {
    position: absolute;
    width:15%;
    right:14%;
    margin-top:40%
    }

#rick {
    position: absolute;
    width:13%;
    right:27.5%;
    margin-top:30% } 

#berd {
    position: absolute;
    width:13%;
    left:27.5%;
    margin-top:30% }    


body {background-color: #5BEAF7;}


body {margin: 20;}

ul.topnav {
     width: 75%;
     position: absolute;
     top: 12%;
     }

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #969692;
}

ul.topnav li {
    float: left;
            }

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #AC06A9;}

ul.topnav li a.active {background-color: #F803F4;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}



   
